@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Resultado de la Consulta";
}

<h2>Resultado de la Consulta</h2>

@if (Model.FirstOrDefault() is SegurosChubbi.Models.Seguro)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Suma Asegurada</th>
                <th>Prima</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Codigo</td>
                    <td>@item.SumaAsegurada</td>
                    <td>@item.Prima</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.FirstOrDefault() is SegurosChubbi.Models.Asegurado)
{
    <table class="table">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Cedula</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Edad</td>
                </tr>
            }
        </tbody>
    </table>
}
